#third{
    background-image: url(./images/bg2.png);
    /* height: 670px; */
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items:center ;
}
#third-1 > img{
    margin-left: 47.5%;
    margin-top: 10px;
}
#third-1 > p{
    color: white;
    text-align: center;
    width: 50%;
    margin-left: 25%;
}
#third-2 > h3 , h6{
    color: white;
    text-align: center;
}
#third-2 > img{
    padding-left: 26px;
}